<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>职员管理表</title>
    <script type="text/javascript" src="<?php echo arCfg('PATH.PUBLIC'); ?>js/jquery.min.js"></script>
    <style>
        table{
            border-collapse:collapse;
        }
        tr,td{
            border:1px solid black;
            width:80px;
            height:30px;
            text-align: center;
        }
        .dailyTotal{
            width:220px
        }
        table td:last-child,.tp1{
            width:120px;         
        }
    </style>
</head>
<body>
<a href="<?php echo arU('Index/salary'); ?>">查看工资</a>
<a href="<?php echo arU('Index/index'); ?>">查看业绩</a>
<a href="<?php echo arU('Store/store'); ?>">门店管理</a>
<a href="<?php echo arU('Index/work_add'); ?>">职工添加</a>
<h1 align="center">双流惠康职员管理表</h1>
<table align="center">
    <?php if(!empty($workers)) {?>
    <tr>
        <td>姓名</td>
        <td>工号</td>
        <td>性别</td>
        <td>手机号</td>
        <td class="tp1">所在门店</td>
        <td>操作</td>
    </tr>
    <?php foreach($workers as $worker): ?>
    <tr>
        <td><?php echo $worker['name']; ?></td>
        <td><?php echo $worker['wid']; ?></td>
        <td><?php echo $worker['gender']; ?></td>
        <td><?php echo $worker['phone']; ?></td>
        <td class="tp1"><?php echo $worker['store']; ?></td>
        <td><a href="javascript:deleteNode(<?php echo $worker['id']; ?>)"><img width="30px" height="30px" src="<?php echo arCfg('PATH.PUBLIC'); ?>images/delete.png" /></a>&nbsp;|&nbsp;
            <a href="<?php echo arU('Index/work_up',array('id'=>$worker['id'])); ?>">修改</a></td>
    </tr>
    <?php endforeach;}else echo "<tr style='border:transparent'><td style='border:transparent'>暂无员工信息！</td></tr>";?>
</table>
</body>
<script>
     function deleteNode(id){
        // alert(JSV.PATH_APP_SERVER+'Store/storeDelete');
        layer.confirm('确定要删除吗?',function(){
            $.post("<?php echo arU('Index/workerDelete'); ?>",{id:id},function(res){
                if(res.success == 1){
                    layer.msg('操作成功');
                    location.reload();
                }else{
                    layer.msg('操作失败');
                }
            },'json');
            layer.closeAll();
        })
    }
</script>
<?php include arCfg('DIR.SEG').'Sys/js.seg'; ?>
</html>