<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>职员管理表</title>
    <script type="text/javascript" src="<?php echo arCfg('PATH.PUBLIC'); ?>js/jquery.min.js"></script>
    <style>
        table{
            border-collapse:collapse;
        }
        td{
            border:1px solid black;
            width:80px;
            height:30px;
            text-align: center;
        }
        .dailyTotal{
            width:220px
        }
        table td:last-child{
            width:120px;
        }
    </style>
</head>
<body>
<a href="<?php echo arU('Index/salary'); ?>">查看工资</a>
<a href="<?php echo arU('Index/index'); ?>">查看业绩</a>
<a href="<?php echo arU('Index/work_add'); ?>">职工添加</a>
<h1 align="center">双流惠康职员管理表</h1>
<table align="center">
    <tr>
        <td>姓名</td>
        <td>工号</td>
        <td>性别</td>
        <td>手机号</td>
        <td>所在门店</td>
        <td>操作</td>
    </tr>
    <?php foreach($workers as $worker): ?>
    <tr>
        <td><?php echo $worker['name']; ?></td>
        <td><?php echo $worker['wid']; ?></td>
        <td><?php echo $worker['gender']; ?></td>
        <td><?php echo $worker['phone']; ?></td>
        <td><?php echo $worker['store']; ?></td>
        <td><a href="javascript:deleteNode(<?php echo $worker['id']; ?>)"><img width="30px" height="30px" src="<?php echo arCfg('PATH.PUBLIC'); ?>images/delete.png" /></a>&nbsp;|&nbsp;<a href="work_up?id=<?php echo $worker['id']; ?>">修改</a></td>
    </tr>
    <?php endforeach;?>
</table>
</body>
<script>
    function deleteNode(id){
        layer.confirm('确定要删除吗?',function(){
            $.post(JSV.PATH_APP_SERVER+'Index/workerDelete',{id:id},function(res){
                if(res.success=='1'){
                    layer.msg('操作成功');
                    location.reload();
                }else{
                    layer.msg('操作失败');
                }
            },'json');
            layer.closeAll();
        })
    }
</script>
<?php include arCfg('DIR.SEG') . 'Sys/js.seg'; ?>
</html>